@import "style.css";

.code-bg {
  position: absolute;
  background-image: url("../images/light-purple-bg@3x.png");
  z-index: -1000;
  width: 100%;
  max-width: 1599;
  margin-top: 50vh;
  height: 50vh;
}
.code-bg2 {
  position: absolute;
  background-image: url("../images/purple-bg@0.5x.png");
  z-index: -1000;
  width: 100%;
  max-width: 1599;
  margin-top: 0vh;
  height: 50vh;
}
