html {
  scroll-behavior: smooth;
  padding: 0;
  font-size: 2rem;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  line-height: 1rem;
}
a{
  font-weight: bolder;
}
/* .colors{
    navy:#4e637b;
}  */
@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch|Delius|Lato:400,400i,700&display=swap');
/* @import url('https://use.typekit.net/ynk5cwc.css'); */
/*
font-family: 'Delius', cursive;
font-family: 'Cabin Sketch', cursive;
font-family: 'Lato', sans-serif;



font-family: 'Libre Franklin', sans-serif;
font-family: 'ibm-plex-mono', sans-serif;
font-family: 'monotalic', sans-serif;
font-style: normal;
font-weight: 100;
*/

body {
  background-color: #ffffff;
  max-width: 1599px;
  margin: 0 auto !important;
}

a {
  text-decoration: none;
  color: #000000;
}
main{

}
header {
  background-color: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 80px;
  width: 100%;
  min-width: 295px;
  box-sizing: border-box;
  z-index: 4;
  /* color: white; */
}

.header {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  border-top: 4px solid #000000;
  border-right: 4px solid #000000;
  border-left: 4px solid #000000;
  border-bottom: 4px solid #000000;



}

.header ul {
  margin: 0 auto;
  text-align: right;
  list-style: none;
  overflow: hidden;
}

.header li a {
  position: -webkit-sticky;
  position: sticky;
  font-family: 'ibm-plex-mono', sans-serif;
  font-weight: 400;
  display: inline;
  font-size: 1.5rem;
  text-decoration: none;
  line-height: 2.8rem;
  z-index:1;

}

.header li a:hover,
.header .menu-btn:hover {
  color: #99ADB4;
}
/* #d9d1c9 */
.header .logo a {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  text-decoration: none;
  font-size: 2rem;
  font-family: 'monotalic', sans-serif;
  /* font-family: 'Cabin Sketch'; */
  font-weight: 300;
  background-color: #a999ab;
  box-sizing: border-box;
  text-align: center;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.name-container {
  display: block;
  box-sizing: border-box;
  height: 100%;
  width: 320px;
  padding-top: 20px;
  text-align: center;
  border-right: 4px solid black;
  overflow: hidden;
  background-color: #a999ab;
}
/* menu */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.header .menu {
  position: relative;
  max-height: 0;
  padding-top: 15px;
  /* transition: max-height .2s ease-in; */
  z-index: 1;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  padding: 1rem;
  position: absolute;
  top: 0px;
  right: 0px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;

}

.header .menu-icon .navicon {
  background: #000;
  display: block;
  height: 2px;
  position: relative;
  -webkit-transition: background .2s ease-out;
  transition: background .2s ease-out;
  width: 24px;
  margin-top: 20px;

}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #000;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
  margin-top: 30px;

}

.header .menu-btn:checked ~ .menu {
  position: absolute;
  top: 76px;
  right: 0;
  max-height: 600px;
  height: 300px;
  width: 250px;
  background-color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: .5rem;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  border-top: 6px solid black;
  border-right: 4px solid black;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: white;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}
/* ---------------------end header and nav----------------- */
/* ----------------------site wide styles------------------- */
#links {
font-family: 'ibm-plex-mono', sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: uppercase;
  background-color: transparent;
  /* margin: 0 auto; */
  margin-bottom: 2vh;
  margin-top: 1vh;
  margin-right: 1vw;
  text-align: right;
  align-self: baseline;
  align-self: flex-end;
}

#section-title {
font-family: 'ibm-plex-mono', sans-serif;
 font-size: 1.2rem;
  font-weight: 400;
  min-width: 100%;
  text-transform: uppercase;
  padding-top: .3rem;
  margin-left: .2rem;
  text-align: left;
  white-space: nowrap;
}
#detail-header{
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    color: #565656;
    border-bottom: 2px solid black;
}
#summary-header {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 1.2rem;
  padding: 0 0;
/* border: 1px dotted pink; */
}
#summary-text {
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 400;
  margin-top: 3vh;
  font-size: 1rem;
  text-align: left;
  line-height: 1.5rem;
  color: #565656;

  /* border: 1px dotted darkgrey; */
}



/* ------------------end site wide style--------------------------- */
/*media queries for header and nav on tablets and phones*/

@media (min-width: 1025px) {
  .header ul {
    margin: 0;
    margin-top: 0px;
  }

  .header li {
    float: right;
    margin-right: 1vw;
  }

  .header li a {
    padding-top: 1rem;
    padding-left: 1vw;
  }

  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }

  .header .menu-icon {
    display: none;
  }
}

@media (max-width: 800px) {

  header {
    height: 64px;
  }

  .header .logo a {
    padding-right: 1rem;
    padding-left: 1rem;
    font-size: 1.5rem;
  }

  .name-container {
    height: 100%;
    width: 280px;
    padding-top: 15px;
  }

  .header .menu-btn:checked ~ .menu {
    top: 62px;
    right: 0;
    width: 220px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: .5rem;
    border-top: 4px solid black;
  }

  .header .menu-icon {
    padding: .8rem;
  }
}

@media (max-width: 600px) {
  .code-bg {
    width: 100%;
    max-width: 1599;
    margin-top: 48vh;
    height: 100vh;
  }
  .name-container {
    height: 100%;
    width: 240px;
    font-size: 1.2rem;

    padding-top: 15px;
  }
  .header .menu-icon {
    padding-top: .8rem;
    padding-right: .7rem;
  }
  .header .menu-btn:checked ~ .menu {
    width: 180px;

}
}
@media (max-width: 350px) {
  .name-container {
    font-size: 1rem;
}
/* .header .menu-btn:checked ~ .menu {
  position: absolute;
  top: 76px;
  right: 0;
  background-color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: .5rem;

} */
}
