<title>Taylor Hembree - Front End Web Developer</title>
<link rel="stylesheet" href="/public/stylesheets/index.css">
<!-- Reset -->
<link rel="stylesheet" href="/public/stylesheets/reset.css">
<!-- Normalize -->
<link rel="stylesheet" href="css/normalize.css">
<link rel="icon" type="image/png" href="images/th.png"/>
<!-- fonts -->
<link rel="stylesheet" href="https://use.typekit.net/ynk5cwc.css">
<link rel="icon" type="image/png" href="images/th.png"/>
