<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="../stylesheets/index.css">
<!-- Reset -->
<link rel="stylesheet" href="../stylesheets/reset.css">
<!-- Normalize -->
<link rel="stylesheet" href="../stylsheets/normalize.css">
<link rel="icon" type="image/png" href="images/th.png"/>
<!-- fonts -->
<link rel="stylesheet" href="https://use.typekit.net/ynk5cwc.css">
<link rel="icon" type="image/png" href="images/th.png"/>
<title>Taylor Hembree - Front End Web Developer</title>
</head>
<body>
