.contact {
  grid-area: cont;
  border-top: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  border-left: 0px;
  box-sizing: border-box;
  background-color: #d8e3e8;
  display: flex;
  width: 100%;
  color: #666666;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  /* box-shadow: inset 0 0 10px #565656; */
  outline: none;
}

.connect-container {
  display: flex;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  flex-wrap: nowrap;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  font-family: 'Libre Franklin', sans-serif;
  text-align: left;
  font-size: 1rem;
  margin-top: 0.7rem;
  outline: none;
  line-height: 1.5rem;
}

.connect-container p {
  margin-bottom: 10px;
}

.thank-you {
  color: #cc9900;
}

.input-box {
  box-sizing: border-box;
  margin-top: 2.5rem;
  width: 40%;
  height: 20px;
  display: inline;
  color: #666666;
  background-color: transparent;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 1rem;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid #666666;
  wrap: nowrap;
  padding-right: 1rem;
}

.input-box:hover {
  border-bottom: 2px solid #000;
}

.input-box:focus {
  border-bottom: 2px solid #000;
  color: #000;
  outline: none;
}

.input-box::placeholder {
  color: #666666;
}

.input-box:hover::placeholder {
  color: black;
}

.input-box:focus::placeholder {
  color: black;
}

#em-field {
  margin-left: 2.1rem;
}

.subject {
  height: 20px;
  width: 99%;
  font-size: 1rem;
  font-family: 'Libre Franklin', sans-serif;
  color: #666666;
  background-color: transparent;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid #666666;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 0.5rem;
}

.subject:hover {
  border-bottom: 2px solid #000;
}

.subject:focus {
  border-bottom: 2px solid #000;
  color: #000;
  outline: none;
}

.subject::placeholder {
  color: #666666;
}

.subject:hover::placeholder {
  color: #000;
}

.subject:focus::placeholder {
  color: #000;
}

.comment-area {
  width: 99%;
  height: 100px;
  padding: 0.5rem;
  font-size: 1rem;
  color: #666666;
  box-sizing: border-box;
  background-color: transparent;
  resize: none;
  border: 2px solid #666666;
  margin-bottom: 20px;
  font-family: 'Libre Franklin', sans-serif;
}

.comment-area::placeholder {
  color: #666666;
}

.comment-area:focus {
  color: #000;
  border: 2px solid #000;
  outline: none;
}

.comment-area:focus::placeholder {
  color: #000;
}

.comment-area:hover::placeholder {
  color: #000;
}

.comment-area:hover {
  border: 2px solid #000;
}

.connect-submit {
  width: 99%;
  text-align: center;
  background-color: transparent;
  border: 2px solid #666666;
  padding: 0.2rem;
  font-family: 'Libre Franklin', sans-serif;
  color: #666666;
  font-size: 1.2rem;
  margin: 0;
}

.connect-submit:hover {
  cursor: pointer;
  color: #000;
  border: 2px solid #000;
}

.connect-submit:focus {
  outline: none;
  color: #000;
  border: 2px solid #000;
}

.make-white a {
  color: #ffffff;
}
