/* @import "/stylesheets/style.css"; */
@import "/stylesheets/projects.css";
@import "/stylesheets/about.css";
/* @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,300;0,400;0,700;1,400&family=Libre+Franklin:wght@400;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital@0;1&display=swap');

#app{
  font-family: 'Space Mono', monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
html {
  scroll-behavior: smooth;
  padding: 0;

}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body {
  background-color: #ffffff;
  max-width: 1599px;
  background-image:  url("../images/light-purple-bg@3x.png");
}
main{

}
a {
  text-decoration: none;
  color: #000000;
}

header {
  background-color: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 80px;
  width: 100%;
  min-width: 295px;
  box-sizing: border-box;
  z-index: 4;
  font-family: 'Space Mono', monospace;
  font-weight: 400;
  /* color: white; */
}

.header {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  border-top: 4px solid #000000;
  border-right: 4px solid #000000;
  border-left: 4px solid #000000;
  border-bottom: 4px solid #000000;

}

.header ul {
  margin: 0 auto;
  text-align: right;
  list-style: none;
  overflow: hidden;
}

.header li a {
  position: -webkit-sticky;
  position: sticky;
  font-family: 'Space Mono', monospace;
  font-weight: 400;
  display: inline;
  font-size: 1.5rem;
  text-decoration: none;
  line-height: 2.8rem;
  z-index:1;

}

.header li a:hover,
.header .menu-btn:hover {
  color: #99ADB4;
}
/* #d9d1c9 */
.header .logo a {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  text-decoration: none;
  font-size: 2rem;
  font-family: 'monotalic', sans-serif;
  /* font-family: 'Cabin Sketch'; */
  font-weight: 300;
  background-color: #a999ab;
  box-sizing: border-box;
  text-align: center;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.name-container {
  display: block;
  box-sizing: border-box;
  height: 100%;
  width: 30%;
  padding-top: 20px;
  text-align: center;
  border-right: 4px solid black;
  overflow: hidden;
  background-color: #a999ab;
}
/* menu */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.header .menu {
  position: relative;
  max-height: 0;
  padding-top: 15px;
  /* transition: max-height .2s ease-in; */
  z-index: 1;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  padding: 1rem;
  position: absolute;
  top: 0px;
  right: 0px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;

}

.header .menu-icon .navicon {
  background: #000;
  display: block;
  height: 2px;
  position: relative;
  -webkit-transition: background .2s ease-out;
  transition: background .2s ease-out;
  width: 24px;
  margin-top: 20px;

}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #000;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
  margin-top: 30px;

}

.header .menu-btn:checked ~ .menu {
  position: absolute;
  top: 76px;
  right: 0;
  max-height: 600px;
  height: 300px;
  width: 200px;
  background-color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: .5rem;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  border-top: 6px solid black;
  border-right: 4px solid black;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: white;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}
/* ---------------------end header and nav----------------- */


/* ----------------------site wide styles------------------- */
#links {
  font-family: 'Space Mono', monospace;
    font-size: 1.2rem;
    font-weight: 400;
    text-transform: uppercase;
    background-color: transparent;
    /* margin: 0 auto; */
    margin-bottom: 2vh;
    margin-top: 1vh;
    margin-right: 1vw;
    text-align: right;
    align-self: baseline;
    align-self: flex-end;
  }

  #section-title {
  font-family: 'Space Mono', monospace;
   font-size: 1.2rem;
    font-weight: 400;
    min-width: 100%;
    text-transform: uppercase;
    padding-top: .3rem;
    margin-left: .2rem;
    text-align: left;
    white-space: nowrap;
  }
  #detail-header{
      font-family: 'Libre Franklin', sans-serif;
      font-weight: 500;
      font-size: 1.5rem;
      color: #000;
      border-bottom: 2px solid black;
  }
  #summary-header {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 1.2rem;
    padding: 0 0;
  /* border: 1px dotted pink; */
  }
  #summary-text {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 400;
    margin-top: 3vh;
    font-size: 1rem;
    text-align: left;
    line-height: 1.5rem;
    color: #565656;

    /* border: 1px dotted darkgrey; */
  }

  /* --------------- Accordian ----------------- */
  .accordion-list {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #fff;
    max-width: 30rem;
    border-radius: 0.4rem;
    overflow: hidden;
    box-shadow: 0 0 0.8rem 0.1rem rgba(15, 72, 179, 0.06), 0 20px 30px -10px rgba(15, 72, 179, 0.2);
  }
  .accordion-list__item + .accordion-list__item {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }

  .accordion-item--opened .accordion-item__icon {
    transform: rotate(180deg);
  }
  .accordion-item--opened .accordion-item__inner {
    max-height: 100rem;
    transition-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
    transition-duration: 0.5s;
    transition-property: max-height;
  }
  .accordion-item--opened .accordion-item__content {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.2s;
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
    transition-property: opacity, transform;
  }
  .accordion-item__line {
    display: block;
    padding: 0.8rem 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    z-index: 2;
    position: relative;
  }
  .accordion-item__title {
    font-size: 1.6rem;
    margin: 0;
    font-weight: 700;
    color: #121212;
  }
  .accordion-item__icon {
    width: 1.2rem;
    height: 1.2rem;
    transition: transform 0.3s ease-in-out;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGAAAABgCAQAAABIkb+zAAABGklEQVR4Ae3RAcZCQRiF4buDfwshBGi+2UQgcIGAVtpSIuS/KyilG+UTcbk6zIH3GQBm3mM6AAAAAAAAAACA+eqf/yZBXcV/2XeCVPYx1FXj/FjGUMd45AQp/1HHGGLZNL+e61jHnKDmv8652YT1IvPfE2LX/Sh27/ycsF60yT/lk58JYn6eU4MJccjnlAmZ/33i0OAH4jg9Qcw/5g9YJpS+m6n0xvzpCfVe+nn59S7kGyYo+YYJWz3fO+E2PaFs9XzPhMy/6fmWCXq+YUJs9HzrhLh+JsQmrnq+bYKeb52g53snXPR88wQ93z9Bz/dP0PP9E/R89wQ93zpBz7dO0POtE/R86wQ93zpBzzdP+MoHAAAAAAAAAADAExTnTW20AtjhAAAAAElFTkSuQmCC);
    opacity: 0.6;
  }
  .accordion-item__inner {
    max-height: 0;
    overflow: hidden;
    text-transform: cubic-bezier(0.95, 0.05, 0.795, 0.035);
    transition-duration: 0.5s;
    transition-property: max-height;
    z-index: 1;
    position: relative;
  }
  .accordion-item__content {
    opacity: 0;
    transform: translateY(-1rem);
    transition-timing-function: linear, ease;
    transition-duration: 0.1s;
    transition-property: opacity, transform;
    transition-delay: 0.5s;
    padding: 0 1.2rem 1.2rem;
  }
  .accordion-item__paragraph {
    margin: 0;
    font-size: 1rem;
    color: #333;
    font-weight: 300;
    line-height: 1.3;
  }

  /* ------------------end site wide style--------------------------- */
  /*media queries for header and nav on tablets and phones*/

  @media (min-width: 1025px) {
    .header ul {
      margin: 0;
      margin-top: 0px;
    }

    .header li {
      float: right;
      margin-right: 1vw;
    }

    .header li a {
      padding-top: 1rem;
      padding-left: 1vw;
    }

    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }

    .header .menu-icon {
      display: none;
    }
  }

  @media (max-width: 800px) {

    header {
      height: 64px;
    }

    .header .logo a {
      padding-right: 1rem;
      padding-left: 1rem;
      font-size: 1.5rem;
    }

    .name-container {
      height: 100%;
      width: 30%;
      padding-top: 15px;
    }

    .header .menu-btn:checked ~ .menu {
      top: 62px;
      right: 0;
      width: 220px;
      padding-top: 1rem;
      padding-bottom: 1rem;
      padding-right: .5rem;
      border-top: 4px solid black;
    }

    .header .menu-icon {
      padding: .8rem;
    }
  }

  @media (max-width: 600px) {
    .code-bg {
      width: 100%;
      max-width: 1599;
      margin-top: 48vh;
      height: 100vh;
    }
    .name-container {
      height: 100%;
      width: 30%;
      font-size: .5rem;

      padding-top: 15px;
    }
    .header .menu-icon {
      padding-top: .8rem;
      padding-right: .7rem;
    }
    .header .menu-btn:checked ~ .menu {
      width: 180px;

  }
  }
  @media (max-width: 350px) {
    .name-container {
      font-size: .7rem;
  }

  }




.code-bg {
  position: absolute;
  background-image: url("../images/light-purple-bg@3x.png");
  z-index: -1000;
  width: 100%;
  margin-top: 0;
  max-width: 1599;
  height: 104vh;
}

.code-bg2 {
  position: absolute;
  background-image: url("../images/purple-bg.png");
  z-index: -1000;
  width: 100%;
  max-width: 1599;
  margin-top: 600px;
  height: 690px;
}

.check {
  width: 1rem;
  height: 1rem;
  color: white;
  margin-right: 5px;
}

.portrait {
  background-image: url("../images/port1.jpg");
  grid-area: port;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 400px;
  /* background-clip: border-box; */
  border: 2px solid black;
  box-sizing: border-box;
      /* box-shadow: inset 0 0 10px #898989; */
}

.hi {
  display: flex;
  background-color: white;
  grid-area: hi;
  width: 100%;
  font-family: 'Libre Franklin', sans-serif;
          flex-direction: column;
          justify-content: flex-end;
  margin: 0 auto;
  text-align: center;
  border: 2px solid black;
  box-sizing: border-box;
      /* box-shadow: inset 0 0 10px #cccccc; */
}

.hi h6 {
  font-size: 1.4rem;
  margin-bottom: 1.2rem;
}

.hi p {
  padding-left: .8rem;
  padding-right: .8rem;
  padding-bottom: 2rem;
  font-size: 1rem;
  line-height: 1.5rem;
}

.skills {
  grid-area: skills;
  border: 2px solid black;
  box-sizing: border-box;
  display: flex;
  width: 100%;
  height: 100%;
          flex-direction: column;
  background-color: #4e637b;
  align-content: stretch;
          justify-content: space-between;
  margin: 0 auto;
  color: #D8E3E8;
}
.skills li {
  padding: 2px;
  line-height: 1.5rem;
}
.skills #section-title a {
  color: #D8E3E8;
}
.skills #links a {
  color: #D8E3E8;
}
.skill-list {
  font-size: 1.3rem;
  font-family: 'Libre Franklin', sans-serif;
  padding-top: 1rem;
  padding-bottom: 1rem;
  align-self: center;
}
.tools {
  grid-area: tools;
  border: 2px solid black;
  box-sizing: border-box;
  background-color: #999999;
  text-align: left;
  align-content: stretch;
  display: flex;
  width: 100%;
  height: 100%;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
  margin: 0 auto;
    /* box-shadow: inset 0 0 10px #565656; */
  /* border: 1px solid white; */
}
.tools li {
  padding: 2px;
  line-height: 1.5rem;

}
.tool-list {
  font-size: 1.3rem;
  font-family: 'Libre Franklin', sans-serif;
  margin-top: .5rem;
}

/*---------------------- styling for project carousel-------------------- */
.projects {
  grid-area: proj;
  border: 2px solid black;
  width: 100%;
  background-color: #99ADB4;
  height: 100%;
  box-sizing: border-box;
  display:flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-start;


  /* box-shadow: inset 0 0 10px #898989; */
}
.projects-header{
font-family: 'Libre Franklin', sans-serif;
font-weight: 400;
color: #565656;
font-size: .9rem;
align-self: center;
/* position: absolute; */
margin-bottom: .3rem;
letter-spacing: .3em;

}
.port-header {
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 400;
  color: #000;
  font-size: .8rem;
  align-self: center;
  /* position: relative;
  top:30px;
  left: 40px; */
}


.post-wrapper {
  width: 100%;
  height: 100%;
  max-width: 530px;
  margin-top: 1%;
  align-self: center;
  overflow: hidden;
}

.post {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items:  stretch;
  justify-content: center;
  /* margin-right: 7px;
  margin-left: 7px;
  margin-bottom: .5rem; */
  /* position: relative; */
    outline: none;

}

.project-image {
  width: 100%;
  display: flex;
/*
  flex-direction: column;
  align-items: center;
  justify-content: flex-end; */
  overflow: hidden;
}

.preview {
  max-width: 460px;
  width: 100%;
  display: block;
}

.slide-info {
  text-align: left;
  margin: 0 auto;
  width: 100%;
}

.slide-header {
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 600;
  margin-top: 20px;
  /* margin-left: .3rem; */
  font-size: .55rem;
  color: #4e637b;
}

.slide-summary {
  font-family: 'Libre Franklin', sans-serif;
  /* margin-left: .3rem; */
  font-weight: 300;
  font-size: .4rem;
  margin-top: .3rem;
  color: #999999;
}



.prev {
  width: 24px;
  height: 24px;
  background: url("../images/left-black.svg") no-repeat;
  background-size: 20px;
  background-position: right center;
  position: relative;
  top: 0px;
  left: 1px;
  outline: none;
}

.prev:hover {
  background-size: 24px;
  top: 0px;
  left: 1px;
}

.next {
  width: 24px;
  height: 24px;
  background: url("../images/right-black.svg") no-repeat;
  background-size: 20px;
  background-position: left center;
  position: relative;
  top: 0px;
  right: 1px;
}

.next:hover {
  background-size: 24px;
  top: 0px;
  right: 1px;
}

.slick-dots {
  display: flex;
          justify-content: space-between;
  background-color: #565656;
  width: 100%;
  margin: 0 auto;
  list-style-type: none;
  outline: none;
}

.slick-dots li {
  margin: 0px;
  outline: none;
}

.slick-dots button {
  display: block;
  width: 3vw;
  max-width: 45px;
  height: .3rem;
  padding-bottom: 0rem;
  border: .5px solid #565656;
  border-radius: none;
  background-color: #565656;
  text-indent: -9999px;
  outline: none;
}

li.slick-active button {
  background-color: #ffffff;
}

/* -----------------end carousel styling ------------------------------------- */
.spacer {
  grid-area: blank;
  border: 2px solid black;
  box-sizing: border-box;
  /* background-color: rgba(78, 99, 123, .5); */
  box-shadow:inset 0 0 10px #565656;
  display: flex;
}
/* -------------------styling for contact form----------------------------------- */
.contact {
  grid-area: cont;
  border-top: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  border-left: 0px;
  box-sizing: border-box;
  background-color: #D8E3E8;
  display: flex;
  width: 100%;
  color: #666666;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
  margin: 0 auto;
  /* box-shadow: inset 0 0 10px #565656; */
  outline: none;
}

.connect-container {
  display: flex;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  flex-wrap: nowrap;
          flex-direction: column;
  margin: 0 auto;
  text-align: center;
  font-family: 'Libre Franklin', sans-serif;
  text-align: left;
  font-size: 1rem;
  margin-top: .7rem;
  outline: none;
  line-height: 1.5rem;
}

.connect-container p {
  margin-bottom: 10px;
}

.thank-you {
  color: #cc9900;
}

.input-box {
  box-sizing: border-box;
  margin-top: 2.5rem;
  width: 40%;
  height: 20px;
  display: inline;
  color: #666666;
  background-color: transparent;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 1rem;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid #666666;
  wrap: nowrap;
  padding-right: 1rem;
}

.input-box:hover {
  border-bottom: 2px solid #000;
}

.input-box:focus {
  border-bottom: 2px solid #000;
  color: #000;
  outline: none;
}

.input-box::placeholder {
  color: #666666;
}

.input-box:hover::placeholder {
  color: black;
}

.input-box:focus::placeholder {
  color: black;
}

#em-field {
  margin-left: 2.1rem;
}

.subject {
  height: 20px;
  width: 99%;
  font-size: 1rem;
  font-family: 'Libre Franklin', sans-serif;
  color: #666666;
  background-color: transparent;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid #666666;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: .5rem;
}

.subject:hover {
  border-bottom: 2px solid #000;
}

.subject:focus {
  border-bottom: 2px solid #000;
  color: #000;
  outline: none;
}

.subject::placeholder {
  color: #666666;
}

.subject:hover::placeholder {
  color: #000;
}

.subject:focus::placeholder {
  color: #000;
}

.comment-area {
  width: 99%;
  height: 100px;
  padding: .5rem;
  font-size: 1rem;
  color: #666666;
  box-sizing: border-box;
  background-color: transparent;
  resize: none;
  border: 2px solid #666666;
  margin-bottom: 20px;
  font-family: 'Libre Franklin', sans-serif;
}

.comment-area::placeholder {
  color: #666666;
}

.comment-area:focus {
  color: #000;
  border: 2px solid #000;
  outline: none;
}

.comment-area:focus::placeholder {
  color: #000;
}

.comment-area:hover::placeholder {
  color: #000;
}

.comment-area:hover {
  border: 2px solid #000;
}

.connect-submit {
  width: 99%;
  text-align: center;
  background-color: transparent;
  border: 2px solid #666666;
  padding: .2rem;
font-family: 'Libre Franklin', sans-serif;
  color: #666666;
  font-size: 1.2rem;
  margin: 0;
}

.connect-submit:hover {
  cursor: pointer;
  color: #000;
  border: 2px solid #000;
}

.connect-submit:focus {
  outline: none;
  color: #000;
  border: 2px solid #000;
}

.make-white a {
  color: #ffffff;
}
  /* --------------------------end contact form styling---------------------------- */
.con-h {
  width: 100%;
  height: 100%;
  display: flex;
          flex-direction: column;
          align-items: flex-end;
  border-top: 2px solid black;
  border-right: 0px solid black;
  border-left: 2px solid black;
  border-bottom: 0px;
  box-sizing: border-box;
  background-color: #D8E3E8;
  font-family: 'Space Mono', monospace;
  font-size: 1rem;
  text-align: left;
  overflow:hidden;
}

.con-h p {
  margin-left: 1.5rem;
  margin-top: .3rem;
  width: 100%;
  color: #666666;
}

.con-h #detail-header {
  color: #666666;
  border-bottom: 2px solid #000;
  width: 100%;
  margin-top: 2rem;
}

.con-h h5 {
  color: #666666;
  margin-top: 1rem;
  margin-left: 1.5rem;
}

.email {
  grid-area: email;
  width: 100%;
  height: 100%;
  background-color: #D8E3E8;
  display: flex;
          flex-direction: row;
          justify-content: flex-end;
  border-top: 0px solid black;
  border-right: 0px solid black;
  border-left: 2px solid black;
  border-bottom: 0px;
}
.em {
  width: 80%;
  text-align: right;
  margin-top: 0rem;
  display: block;
  height: 36px;
}
#mailto {
  content: '';
  display: block;
  color: #000;
  background: url('../images/env.svg') no-repeat;
  background-size: auto;
  /* border: 1px solid purple; */
  margin-left: 1.5rem;
  height: 28px;
}
#mailto:hover {
  background: url('../images/env2.svg') no-repeat;
}
.linkedin {
  grid-area: link;
  width: 100%;
  height: 100%;
  background-color: #D8E3E8;
  border-right: 0px solid black;
  border-left: 2px solid black;
  display: flex;
          flex-direction: row;
          justify-content: flex-end;
}
.in {
  width: 80%;
  text-align: right;
  margin-top: 0rem;
  display: block;
  height: 36px;
}

#linkedin-link {
  display: block;
  color: #000;
  min-height: 35px;
  width: 80%;
  background: url('../images/linkedin-grey.svg') no-repeat;
  background-size: auto;
  margin-left: 1.6rem;
}

#linkedin-link:hover {
  background: url('../images/linkedin.svg') no-repeat;
}

.rs {
  width: 80%;
  text-align: right;
 /* border: 1px solid orange; */
 /* margin-left: 1.5rem; */
  margin-top: 0rem;
  display: block;
  height: 36px;
}

#pdf-link {
  display: block;
  width: 80%;
  margin-left: 1.7rem;
  color: #000;
  height: 38px;
  background: url('../images/pdf-grey.svg') no-repeat;
  background-size: auto;
  /* border: 1px solid blue; */
}

#pdf-link:hover {
  background: url('../images/pdf.svg') no-repeat;
}

.resume {
  grid-area: pdf;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid black;
  border-right: 0px solid black;
  border-left: 2px solid black;
  box-sizing: border-box;
  background-color: #D8E3E8;
  font-family: 'Space Mono', monospace;
  text-align: center;
  display: flex;
          flex-direction: row;
          justify-content: flex-end;
  /* padding: 1.5rem; */
  /* box-shadow: inset 0 0 10px #cccccc; */
}

.resume a:hover {
  color: #000;
  background-color: green;
}

.footer {
  grid-area: foot;
  display: flex;
          flex-direction: column;
          justify-content: flex-end;
  width: 100%;
  height: 10vh;
  border: 2px solid black;
  box-sizing: border-box;
  /* background-color: white; */
  font-family: 'Space Mono', monospace;
  font-size: 1.5rem;
  text-align: center;
  color: #000;
  background-color: white;
}

.footer a {
  display: block;
  margin: 10 auto;
  width: 100%;
}

.footer a:hover {
  color: #000;
}
.footer-bg{
  background-color: #000;
  width: 100%;
  height: 800px;

}
.grid-container {
  display: grid;
  background-color: transparent;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  border-left: 2px solid black;
  max-width: 100%;
  min-width: 290px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 340px 370px 175px 45px 50px 100px 210px ;
  grid-template-areas: "port port port port hi hi hi skills skills skills"
                       "tools tools tools proj proj proj proj proj proj proj"
                       /* "blank blank blank blank blank blank blank blank blank blank" */
                       "con-h con-h con-h con-h con-h con-h con-h con-h con-h con-h"
                       "email email email email email link link link link link"
                       "foot foot foot foot foot foot foot foot foot foot";
          justify-content: stretch;
          align-items: stretch;
  align-content: stretch;
}

/*media queries for grid*/
@media screen and (max-width: 1100px) and (min-width: 901px) {
  .grid-container {
    grid-template-rows: 320px 370px 290px 172px 50px 50px 100px 210px;
    grid-template-areas: "port port port port port port hi hi hi hi"
                         "proj proj proj proj proj proj proj proj proj proj"
                         "skills skills skills skills skills tools tools tools tools tools"
                         "con-h con-h con-h con-h cont cont cont cont cont cont"
                         "email email email email cont cont cont cont cont cont"
                         "link link link link cont cont cont cont cont cont"
                         "pdf pdf pdf pdf cont cont cont cont cont cont"
                         "foot foot foot foot foot foot foot foot foot foot";
  }
  .code-bg {
    /* height: 112vh; */
  }
  #links {
    font-size: 1rem;
  }

  #section-title {
    font-size: 1.2rem;
  }

  .hi h6 {
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }

  .hi p {
    padding-left: .5rem;
    padding-right: .5rem;
    padding-bottom: 3rem;
    font-size: 1rem;
  }

  .skill-list {
    font-size: 1.3rem;
    margin-top: 0rem;
  }

  .tool-list {
    font-size: 1.3rem;
    margin-top: .3rem;
  }

  .con-h p {
    margin-left: 1rem;
    margin-top: .2rem;
    font-size: .9rem;
  }

  .con-h #detail-header {
    margin-top: 3rem;
    font-size: 1.2rem;
  }
  .input-box{
    margin-top: 3.5rem;
  }
}

@media screen and (max-width: 900px) and (min-width: 550px) {
  .grid-container {
    grid-template-rows: 260px 370px 290px 120px 250px 60px 150px;
    grid-template-areas: "port port port port port port hi hi hi hi"
                         "proj proj proj proj proj proj proj proj proj proj"
                         "skills skills skills skills skills tools tools tools tools tools"
                         /* "blank blank blank blank blank blank blank blank blank blank" */
                         "con-h con-h con-h con-h con-h con-h con-h con-h con-h con-h "
                         "cont cont cont cont cont cont cont cont cont cont"
                         "email email email link link link link pdf pdf pdf"
                         "foot foot foot foot foot foot foot foot foot foot";
  }
  .code-bg {
    /* height: 112vh; */
  }
  .hi h6 {
    /* font-size: .6rem; */
    margin-bottom: .8rem;
  }

  .hi p {
    padding-bottom: 1.5rem;
    /* font-size: .5rem; */
  }

  #section-title {
    /* font-size: .6rem; */
    margin-left: .3rem;
  }

  .tools li {
    /* font-size: .5rem; */
  }

  .skill-list {
    /* font-size: .5rem; */
    margin-top: 0;
    padding-top: 1rem;
    padding-bottom: 0;
  }
  /* .port-header {
    top:320px;
    left: 50px;
  } */
  .con-h {
            align-items: center;
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 0px;
  }

  .con-h p {
    margin-top: .2rem;
    margin-left: 0;
    width: 85%;
  }

  .con-h #detail-header {
    border-bottom: 2px solid #000;
    width: 85%;
    margin-top: 1.6rem;
    /* font-size: .6rem; */
  }

  .con-h h5 {
    margin-top: .5rem;
    margin-left: 0rem;
  }

  .contact {
    border-top: 0px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
            align-items: flex-start;
            justify-content: flex-start;
  }

  .connect-container {
            justify-content: flex-start;
    width: 75%;
    flex-wrap: nowrap;
    /* font-size: .5rem; */
    margin-top: 0rem;
    padding-top: 1rem;
    outline: none;
  }

  .input-box {
    margin-top: 1.6rem;
    width: 38%;
    height: 20px;
    /* font-size: .4rem; */
    wrap: nowrap;
    padding-right: .4rem;
  }

  #em-field {
    margin-left: 2.6rem;
  }

  .subject {
    height: 15px;
    /* font-size: .4rem; */
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid #666666;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: .0rem;
  }

  .comment-area {
    height: 65px;
    padding: .2rem;
    margin-bottom: 15px;
  }

  .connect-submit {
    padding: .15rem;
    /* font-size: .4rem; */
    margin: 0;
  }

  .linkedin {
            align-items: center;
            justify-content: center;
    border: 2px solid black;
    background-color: white;
  }
  .in {
    width: 50px;
  }
  #linkedin-link {
    margin-left: 0rem;
    height: 28px;
    background: url('../images/linkedin-icon.svg') no-repeat;
  }
  #linkedin-link:hover{
      background: url('../images/linkedin-icon.svg') no-repeat;
    }

  .email {
            align-items: center;
            justify-content: center;
    border: 2px solid black;
    background-color: white;
  }
  .em {
    width: 50px;
    margin-top: 0rem;
    max-height: 28px;
  }
  #mailto {
    margin-left: 0rem;
    height: 28px;
    background: url('../images/env-icon.svg') no-repeat;
  }
    #mailto:hover{
      background: url('../images/env-icon.svg') no-repeat;
    }
  .resume {
            align-items: center;
            justify-content: center;
    border: 2px solid black;
    background-color: white;
  }
  .rs {
  width: 50px;
}

#pdf-link {
  margin-left: 0rem;
background: url('../images/pdf-icon.svg') no-repeat;
}

#pdf-link:hover {
 background: url('../images/pdf-icon.svg') no-repeat;
}
}

@media screen and (max-width: 549px) {
  .grid-container {
    grid-template-rows: 240px 150px 370px 230px 230px 120px 250px 50px 100px;
    grid-template-areas: "port port port port port port port port port port"
                       "hi hi hi hi hi hi hi hi hi hi"
                       "proj proj proj proj proj proj proj proj proj proj"
                       "skills skills skills skills skills skills skills skills skills skills"
                       "tools tools tools tools tools tools tools tools tools tools"
                       /* "blank blank blank blank blank blank blank blank blank blank" */
                       "con-h con-h con-h con-h con-h con-h con-h con-h con-h con-h "
                       "cont cont cont cont cont cont cont cont cont cont"
                       " email email email link link link link pdf pdf pdf"
                       "foot foot foot foot foot foot foot foot foot foot";
    min-width: 295px;
  }
  .code-bg {
    height: 86vh;
  }
  .code-bg {
    margin-top: 30vh;
  }
  #links {
    font-size: .9rem;
    margin-top: 0;
  }

  #section-title {
    font-size: 1rem;
    margin-left: .2rem;
  }

  .hi h6 {
    font-size: 1.2rem;
    margin-bottom: .3rem;
  }

  .hi p {
    padding-left: .5rem;
    padding-right: .5rem;
    padding-bottom: 0;
    font-size: 1rem;
  }


.skills li{
  line-height: 1rem;
}
  .skill-list {
    font-size: 1rem;
    padding-top: 0;
    padding-bottom: 0;
  }
.tools li{
  line-height: 1rem;

}
   .tool-list {
    font-size: 1rem;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    line-height: 1rem;

  }
  .post-wrapper {
    width: 100%;
    margin-top: 5%;
  }
  .con-h {
            align-items: center;
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 0px;
  }

  .con-h p {
    margin-top: .2rem;
    margin-left: 0;
    margin-bottom: 1rem;
    width: 95%;
    font-size: .8rem;
  }

  .con-h #detail-header {
    border-bottom: 2px solid #000;
    width: 95%;
    margin-top: .8rem;
    font-size: 1rem;
  }

  .con-h h5 {
    color: #666666;
    margin-top: .5rem;
    margin-left: 0rem;
  }

  .contact {
    border-top: 0px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
            align-items: flex-start;
            justify-content: flex-start;
  }

  .connect-container {
    display: flex;
            justify-content: flex-start;
    width: 85%;
    flex-wrap: wrap;
            flex-direction: column;
    font-size: 1rem;
    margin-top: 0rem;
    outline: none;
  }

  .input-box {
    margin-top: .3rem;
    width: 100%;
    height: 15px;
    font-size: .8rem;
    wrap: nowrap;
    padding-right: 0rem;
  }

  #em-field {
    margin-left: 0rem;
  }

  .subject {
    height: 15px;
    font-size: .8rem;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid #666666;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: .0rem;
  }

  .comment-area {
    width: 100%;
    height: 65px;
    padding: .2rem;
    margin-bottom: 15px;
  }

  .connect-submit {
    width: 100%;
    text-align: center;
    background-color: transparent;
    border: 2px solid #666666;
    padding: .15rem;
    font-family: 'Libre Franklin', sans-serif;
    color: #666666;
    font-size: .8rem;
    margin: 0;
  }
  .linkedin {
            align-items: center;
            justify-content: center;
    border: 2px solid black;
    background-color: white;
  }
  .in {
    width: 40px;
  }
  #linkedin-link {
    margin-left: 0rem;
    height: 35px;
    background: url('../images/linkedin-icon.svg') no-repeat;
    background-origin: padding-box;
    background-position: center;
  }
  #linkedin-link:hover{
      background: url('../images/linkedin-icon.svg') no-repeat;
      background-origin: padding-box;
      background-position: center;
    }

  .email {
            align-items: center;
            justify-content: center;
    border: 2px solid black;
    background-color: white;
  }
  .em {
    width: 50px;
    margin-top: 0rem;
    max-height: 28px;
  }
  #mailto {
    margin-left: 0rem;
    height: 28px;
    background: url('../images/env-icon.svg') no-repeat;
    background-origin: padding-box;
    background-position: center;
  }
    #mailto:hover{
      background: url('../images/env-icon.svg') no-repeat;
      background-origin: padding-box;
      background-position: center;
    }
  .resume {
            align-items: center;
            justify-content: center;
    border: 2px solid black;
    background-color: white;
  }
  .rs {
  width: 38px;
}

#pdf-link {
  margin-left: 0rem;
background: url('../images/pdf-icon.svg') no-repeat;
background-origin: padding-box;
background-position: center;
}

#pdf-link:hover {
 background: url('../images/pdf-icon.svg') no-repeat;
 background-origin: padding-box;
 background-position: center;
}
}


/* --------------------------media quary for slick slider  */


@media screen and (max-width: 420px) {
  .post-wrapper {
    width: 96%;
    min-width: 280px;
    margin-top: 15%;
  }

}
