header {
  background-color: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 80px;
  width: 100%;
  min-width: 295px;
  box-sizing: border-box;
  z-index: 4;
  font-family: 'Space Mono', monospace;
  font-weight: 400;
  /* color: white; */
}

.header {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  border-top: 4px solid #000000;
  border-right: 4px solid #000000;
  border-left: 4px solid #000000;
  border-bottom: 4px solid #000000;
}

.header ul {
  margin: 0 auto;
  text-align: right;
  list-style: none;
  overflow: hidden;
}

.header li a {
  position: -webkit-sticky;
  position: sticky;
  font-family: 'Space Mono', monospace;
  font-weight: 400;
  display: inline;
  font-size: 1.5rem;
  text-decoration: none;
  line-height: 2.8rem;
  z-index: 1;
}

.header li a:hover,
.header .menu-btn:hover {
  color: #99adb4;
}
/* #d9d1c9 */
.header .logo a {
  padding-right: 1.2rem;
  padding-left: 1.2rem;
  text-decoration: none;
  font-size: 1.6rem;
  font-family: 'monotalic', sans-serif;
  /* font-family: 'Cabin Sketch'; */
  font-weight: 300;
  background-color: #a999ab;
  box-sizing: border-box;
  text-align: center;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.name-container {
  display: block;
  box-sizing: border-box;
  height: 100%;
  width: 35%;
  padding-top: 15px;
  text-align: center;
  border-right: 4px solid black;
  overflow: hidden;
  background-color: #a999ab;
}
/* menu */
.clearfix::after {
  content: '';
  clear: both;
  display: table;
}
.header .menu {
  position: relative;
  max-height: 0;
  padding-top: 15px;
  /* transition: max-height .2s ease-in; */
  z-index: 1;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  padding: 1rem;
  position: absolute;
  top: 0px;
  right: 0px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #000;
  display: block;
  height: 2px;
  position: relative;
  -webkit-transition: background 0.2s ease-out;
  transition: background 0.2s ease-out;
  width: 24px;
  margin-top: 20px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #000;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
  margin-top: 30px;
}

.header .menu-btn:checked ~ .menu {
  position: absolute;
  top: 76px;
  right: 0;
  max-height: 600px;
  height: 300px;
  width: 200px;
  background-color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 0.5rem;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  border-top: 6px solid black;
  border-right: 4px solid black;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: white;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/*media queries for header and nav on tablets and phones*/

@media (min-width: 1025px) {
  .header ul {
    margin: 0;
    margin-top: 0px;
  }

  .header li {
    float: right;
    margin-right: 1vw;
  }

  .header li a {
    padding-top: 1rem;
    padding-left: 1vw;
  }

  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }

  .header .menu-icon {
    display: none;
  }
}

@media (max-width: 800px) {


  .header .logo a {
    line-height: 2.8rem;
    padding-right: .5rem;
    padding-left: .5rem;
    font-size: 1rem;
  }

  .name-container {
    height: 100%;
    width: 35%;
    padding-top: 15px;
  }

  .header .menu-btn:checked ~ .menu {
    top: 62px;
    right: 0;
    width: 220px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 0.5rem;
    border-top: 4px solid black;
  }

  .header .menu-icon {
    padding: 0.8rem;
  }
}

@media (max-width: 600px) {
  header {
    height: 50px;
  }
  .code-bg {
    width: 100%;
    max-width: 1599;
    margin-top: 48vh;
    height: 100vh;
  }
  .header .logo a {
    line-height: 1rem;
    padding-right: .4rem;
    padding-left: .4rem;
    font-size: 1rem;
  }
  .name-container {
    height: 100%;
    width: 40%;

  }
  .header .menu-icon {

    padding-top: 0.8rem;
    padding-right: 0.7rem;
  }
  .header .menu-btn:checked ~ .menu {
    width: 180px;
  }
}
@media (max-width: 390px) {

  .header .logo a {
    padding-right: .4rem;
    padding-left: .4rem;
    font-size: .7rem;
  }
}
