@import '/stylesheets/projects.css';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,300;0,400;0,700;1,400&family=Libre+Franklin:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital@0;1&display=swap');

#app {
  font-family: 'Space Mono', monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
html {
  scroll-behavior: smooth;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body {
  background-color: #ffffff;
  max-width: 1599px;
  background-image: url('../images/light-purple-bg@3x.png');
}
a {
  text-decoration: none;
  color: #000000;
}

header {
  background-color: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 80px;
  width: 100%;
  min-width: 295px;
  box-sizing: border-box;
  z-index: 4;
  font-family: 'Space Mono', monospace;
  font-weight: 400;
  /* color: white; */
}

.header {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  border-top: 4px solid #000000;
  border-right: 4px solid #000000;
  border-left: 4px solid #000000;
  border-bottom: 4px solid #000000;
}

.header ul {
  margin: 0 auto;
  text-align: right;
  list-style: none;
  overflow: hidden;
}

.header li a {
  position: -webkit-sticky;
  position: sticky;
  font-family: 'Space Mono', monospace;
  font-weight: 400;
  display: inline;
  font-size: 1.5rem;
  text-decoration: none;
  line-height: 2.8rem;
  z-index: 1;
}

.header li a:hover,
.header .menu-btn:hover {
  color: #99adb4;
}
/* #d9d1c9 */
.header .logo a {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  text-decoration: none;
  font-size: 1.6rem;
  font-family: 'monotalic', sans-serif;
  /* font-family: 'Cabin Sketch'; */
  font-weight: 300;
  background-color: #a999ab;
  box-sizing: border-box;
  text-align: center;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.name-container {
  display: block;
  box-sizing: border-box;
  height: 100%;
  width: 30%;
  padding-top: 15px;
  text-align: center;
  border-right: 4px solid black;
  overflow: hidden;
  background-color: #a999ab;
}
/* menu */
.clearfix::after {
  content: '';
  clear: both;
  display: table;
}
.header .menu {
  position: relative;
  max-height: 0;
  padding-top: 15px;
  /* transition: max-height .2s ease-in; */
  z-index: 1;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  padding: 1rem;
  position: absolute;
  top: 0px;
  right: 0px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #000;
  display: block;
  height: 2px;
  position: relative;
  -webkit-transition: background 0.2s ease-out;
  transition: background 0.2s ease-out;
  width: 24px;
  margin-top: 20px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #000;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
  margin-top: 30px;
}

.header .menu-btn:checked ~ .menu {
  position: absolute;
  top: 76px;
  right: 0;
  max-height: 600px;
  height: 300px;
  width: 200px;
  background-color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 0.5rem;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  border-top: 6px solid black;
  border-right: 4px solid black;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: white;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* for project list bar */

.accordion-list__item + .accordion-list__item {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.accordion-item--opened .accordion-item__icon {
  transform: rotate(180deg);
}
.accordion-item--opened .accordion-item__inner {
  max-height: 100rem;
  transition-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
  transition-duration: 0.5s;
  transition-property: max-height;
}
.accordion-item--opened .accordion-item__content {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.2s;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  transition-property: opacity, transform;
}
.accordion-item__line {
  display: block;
  padding: 0.8rem 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  z-index: 2;
  position: relative;
}
.accordion-item__title {
  font-size: 1.6rem;
  margin: 0;
  font-weight: 700;
  color: #121212;
}
.accordion-item__icon {
  width: 1.2rem;
  height: 1.2rem;
  transition: transform 0.3s ease-in-out;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGAAAABgCAQAAABIkb+zAAABGklEQVR4Ae3RAcZCQRiF4buDfwshBGi+2UQgcIGAVtpSIuS/KyilG+UTcbk6zIH3GQBm3mM6AAAAAAAAAACA+eqf/yZBXcV/2XeCVPYx1FXj/FjGUMd45AQp/1HHGGLZNL+e61jHnKDmv8652YT1IvPfE2LX/Sh27/ycsF60yT/lk58JYn6eU4MJccjnlAmZ/33i0OAH4jg9Qcw/5g9YJpS+m6n0xvzpCfVe+nn59S7kGyYo+YYJWz3fO+E2PaFs9XzPhMy/6fmWCXq+YUJs9HzrhLh+JsQmrnq+bYKeb52g53snXPR88wQ93z9Bz/dP0PP9E/R89wQ93zpBz7dO0POtE/R86wQ93zpBzzdP+MoHAAAAAAAAAADAExTnTW20AtjhAAAAAElFTkSuQmCC);
  opacity: 0.6;
}
.accordion-item__inner {
  max-height: 0;
  overflow: hidden;
  text-transform: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  transition-duration: 0.5s;
  transition-property: max-height;
  z-index: 1;
  position: relative;
}
.accordion-item__content {
  opacity: 0;
  transform: translateY(-1rem);
  transition-timing-function: linear, ease;
  transition-duration: 0.1s;
  transition-property: opacity, transform;
  transition-delay: 0.5s;
  padding: 0 1.2rem 1.2rem;
}

#links {
  font-family: 'Space Mono', monospace;
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: uppercase;
  background-color: transparent;
  /* margin: 0 auto; */
  margin-bottom: 2vh;
  margin-top: 1vh;
  margin-right: 1vw;
  text-align: right;
  align-self: baseline;
  align-self: flex-end;
}
#section-title {
  font-family: 'Space Mono', monospace;
  font-size: 1.2rem;
  font-weight: 400;
  min-width: 100%;
  text-transform: uppercase;
  padding-top: 0.3rem;
  margin-left: 0.2rem;
  text-align: left;
  white-space: nowrap;
}
#detail-header {
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  color: #000;
  border-bottom: 2px solid black;
}
#summary-header {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 1.2rem;
  padding: 0 0;
  /* border: 1px dotted pink; */
}
#summary-text {
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 400;
  margin-top: 3vh;
  font-size: 1rem;
  text-align: left;
  line-height: 1.5rem;
  color: #000;
  /* border: 1px dotted pink; */
}

.check {
  width: 1rem;
  height: 1rem;
  color: white;
  margin-right: 5px;
}

.portrait {
  background-image: url('../images/port1.jpg');
  grid-area: port;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 400px;
  /* background-clip: border-box; */
  border: 2px solid black;
  box-sizing: border-box;
  /* box-shadow: inset 0 0 10px #898989; */
}

.hi {
  background-image: url('../images/port1.jpg');
  background-position: top;
  background-repeat: no-repeat;
  display: flex;
  background-color: white;
  grid-area: hi;
  width: 100%;
  font-family: 'Libre Franklin', sans-serif;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0 auto;
  text-align: center;
  border: 2px solid black;
  box-sizing: border-box;
  /* box-shadow: inset 0 0 10px #cccccc; */
}

.hi h6 {
  font-size: 1.4rem;
  margin-bottom: 1.2rem;
}

.hi p {
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  padding-bottom: 2rem;
  font-size: 1rem;
  line-height: 1.5rem;
}

.skills {
  grid-area: skills;
  border: 2px solid black;
  box-sizing: border-box;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  background-color: #4e637b;
  align-content: stretch;
  justify-content: space-between;
  margin: 0 auto;
  color: #d8e3e8;
}
.skills li {
  padding: 2px;
  line-height: 1.5rem;
}
.skills #section-title a {
  color: #d8e3e8;
}
.skills #links a {
  color: #d8e3e8;
}
.home-list {
  font-size: 1.3rem;
  font-family: 'Libre Franklin', sans-serif;
  padding-top: 1rem;
  padding-bottom: 1rem;
  align-self: center;
}
.tools {
  grid-area: tools;
  border: 2px solid black;
  box-sizing: border-box;
  background-color: #999999;
  text-align: left;
  align-content: stretch;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  /* box-shadow: inset 0 0 10px #565656; */
  /* border: 1px solid white; */
}
.tools li {
  padding: 2px;
  line-height: 1.5rem;
}

/*---------------------- styling for project carousel-------------------- */
.projects {
  grid-area: proj;
  border: 2px solid black;
  width: 100%;
  background-color: #99adb4;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.projects-header {
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 400;
  color: #565656;
  font-size: 0.9rem;
  align-self: center;
  /* position: absolute; */
  margin-bottom: 0.3rem;
  letter-spacing: 0.3em;
}
.post-wrapper {
  width: 100%;
  height: 100%;
  max-width: 530px;
  margin-top: 1%;
  align-self: center;
  overflow: hidden;
}
.spacer {
  grid-area: blank;
  border: 2px solid black;
  box-sizing: border-box;
  /* background-color: rgba(78, 99, 123, .5); */
  box-shadow: inset 0 0 10px #565656;
  display: flex;
}
.category-list {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 1rem;
  line-height: 1.6rem;
  padding: 1rem 1rem 1rem 1rem;
}
.project-list-item {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 0.8rem;
  line-height: 1.2rem;
  margin-left: 0.6rem;
}

.footer {
  grid-area: foot;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 10vh;
  border: 2px solid black;
  box-sizing: border-box;
  /* background-color: white; */
  font-family: 'Space Mono', monospace;
  font-size: 1.5rem;
  text-align: center;
  color: #000;
  background-color: white;
}

.footer a {
  display: block;
  margin: 10 auto;
  width: 100%;
}

.footer a:hover {
  color: #000;
}
.footer-bg {
  background-color: #000;
  width: 100%;
  height: 800px;
}
