@media (max-width: 1300px) {
  .mini-slide div.flex-col {
      margin-top: 2rem;
      margin-right: .5rem;
            margin-left: .5rem;

  }
}
@media () and (max-width: 900px) {
  #root{
    width: 95%;
    min-width: 300px;
  }
  body {
    margin: 0;
  }
  .home-container {
    display: flex;
    min-width: none;
    width: 100%;
    flex-direction: column-reverse;
  }
  .flex-item-left {
    width: 100%;
  }
  .open {
    position: sticky;
    top: 5rem;
    left: 0;
    bottom: 0;
  }
  .flex-item-right {
    min-width: 100%;
    align-self: flex-start;
  }
  .project-container {
    width: 100%;
    min-width: none;
  }
  .con-h {
    margin: 0 !important;
  }
  .name-container.logo {
    width: fit-content;
     width: 60%;
  }
img.logo{
    max-width: 100%;
    min-width: 180px;
    margin: 0;
  }
  .mini-slide-text {
    font-size: 1rem;
    margin-left: 0;
  }
}

@media (max-width: 600px){
  name-container.logo {
    border-right: none;
     width: 70%;
  }
img.logo{
    max-width: 100%;
    min-width: 180px;
    margin: 0;
  }

}
