

.project-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  background-color: #e1d9e0;
  /* border-left: 4px solid #000;
  border-right: 4px solid #000;
  border-bottom: 4px solid #000; */
}
.project-image-container{
 width: 20%;
}
.post-wrapper2 .slick-slide {
  /* box-shadow: 2px 2px 5px -2px #565656; */
}

.slick-slide {
  opacity: 1;
}

.slick-center {
  display: block;
  opacity: 1;
}
/* -----grid sections----- */
.detail-section {
  box-sizing: border-box;
  background-color: #ffffff;
}

.detail-nav {
  width: 100%;
  /* display: flex;
  justify-content: space-around;
  align-items: center; */
  background-color: #e1d9e0;
}
/* -------sliders --------*/
.project-details {
  width: 100%;
  min-height: 100%;
  text-align: center;
  margin: 0 auto;
  background-color: #fff;
  /* padding-top: 10px; */
  overflow: visible;
}

.post-wrapper2 {
  width: 100%;
  max-width: 1600px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-top: 10px;
  /* border: 1px solid blue; */
  overflow: hidden;
  /* position: relative; */
}

/* -----------individual slides-------------- */
.detail {
  display: flex;
  flex-flow: row wrap;
  outline: none;
  height: auto;
  /* overflow: hidden; */
  /* border: 1px solid orange; */
}

#color1 {
  background-color: #e5edf1;
}

#color2 {
  background-color: #e5edf1;
}
/*---------------- project slides--------------------- */


/* header */
.page-header {
  order: 0;
  flex: 2 90%;
  height: 50px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  margin-bottom: 3rem;
  padding-bottom: .5rem;
  margin: 0 auto;
  border-bottom: 1px solid #000;
  /* box-shadow: 0px 0px 5px 0px rgba(51,51,51,0.4); */
  /* border: 1px solid green; */
}

#back {
  font-family: 'ibm-plex-mono', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  min-width: 100%;
  text-transform: uppercase;
  padding-top: .3rem;
  margin-left: .2rem;
  text-align: left;
  white-space: nowrap;
  height: 110px;
}

.page-header#section-title a {
}

.year {
  font-weight: 400;
  font-size: 1.2rem;
  display: inline-block;
  vertical-align: top;
}

.detail-summary {
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  margin-top: 1vh;
  display: inline-block;
  vertical-align: top;
}

.summary-text {
  text-align: left;
  font-family: 'Libre Franklin', sans-serif;
  padding-top: .4rem;
  font-size: 1.2rem;
  line-height: 1.5rem;
}

.sub-title {
  display: flex;
  justify-content: space-between;
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 400;
  display: inline-block;
  margin-bottom: 2rem;
}

.frame {
  border-radius: 0 0 5px 5px;
  border: solid #000;
  border-width: 10px 2px 2px 2px;
  background-color: #000;
  /* width: 90%; */
}

.frame-phone {
  border-radius: 5px 5px 5px 5px;
  border: solid #000;
  border-width: 10px 2px 10px 2px;
  background-color: #000;
  max-width: 40%;
  height: auto;
  /* width: 90%; */
}

.dots {
  width: 29px;
  border-top: 8px dotted #C0C0C0;
  border-bottom: 0px;
  border-right: 0px;
  border-left: 0px;
  background-color: #000;
  padding: .2rem;
  margin-left: .5rem;
}

.dot {
  border-radius: 50%;
  background-color: #C0C0C0;
  color: #C0C0C0;
  width: 20px;
  height: 20px;
  margin-top: 10px;
}

.det-prev {
  width: 100%;
  margin: 0 auto;
}

.det-prev2 {
  max-width: 40%;
  /* height: 100% */
  margin: 0 auto;
  /* padding-bottom: 15%; */
}

#summary-header2 {
  color: #000;
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 600;
  font-size: 1.3rem;
}

.summary {
  order: 1;
  flex: 1 50%;
  color: #565656;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 4rem;
  padding: 3rem;
  font-family: 'Libre Franklin', sans-serif;
}

.summary #summary-header {
  font-size: 1.2rem;
}

.summary2 {
  order: 4;
  flex: 1 60%;
  color: #565656;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-self: center; */
  padding-top: 2rem;
  padding-right: 2rem;
  padding-left: 2rem;
  padding-bottom: 2rem;
  font-family: 'Libre Franklin', sans-serif;
}

.summary3 {
  order: 6;
  flex: 1 100%;
  color: #565656;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-self: center; */
  padding-top: 6rem;
  padding-right: 2rem;
  padding-left: 2rem;
  padding-bottom: 2rem;
  font-family: 'Libre Franklin', sans-serif;
}

.summary span {
  margin-top: .2rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.summary4 {
  order: 7;
  flex: 1 100%;
  color: #565656;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-self: center; */
  padding-top: 2rem;
  padding-right: 2rem;
  padding-left: 2rem;
  padding-bottom: 2rem;
  font-family: 'Libre Franklin', sans-serif;
}

.summary5 {
  order: 10;
  flex: 1 100%;
  color: #565656;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-self: center; */
  padding-top: 2rem;
  padding-right: 2rem;
  padding-left: 2rem;
  padding-bottom: 2rem;
  font-family: 'Libre Franklin', sans-serif;
}

.detail-image {
  order: 1;
  flex: 1 40%;
  justify-content: flex-end;
  align-self: baseline;
  padding: 3rem;
  margin-bottom: 4rem;
}

.detail-image2 {
  order: 3;
  flex: 1 40%;
  max-width: 100%;
  justify-content: center;
  align-self: baseline;
  padding: 2rem;
}

.detail-image3 {
  order: 7;
  flex: 1 100%;
  max-width: 50%;
  margin: 0 auto;
  padding: 0rem;
}

#larger {
  max-width: 90%;
}

.background-color-white {
  background-color: #fff;
}

#smaller {
  max-width: 30%;
  /* order:4; */
}
#process{
  width: 100%;
  order:3;
    flex: 1 100%;
}
#wireframe-small{
flex: 1 40%;
  order:4;
  align-self: flex-start;
}
#wireframe{
  flex: 1 60%;
  order: 4;
  align-self: auto;
}
#design-summary{
  order:5;
  flex: 1 60%;
  justify-content: center;
  padding-top: 6rem;
  padding-right: 3rem;
  padding-left: 2rem;
  padding-bottom: 2rem;
}
#fonts-colors{
  order: 6;
  flex: 1 40%;
  max-width: 40%;
  padding-top: 6rem;
  padding-right: 6rem;
  padding-bottom: 6rem;

}
.fiftypercent{
  width: 50%;
}
.detail-image4 {
  order: 8;
  flex: 1 30%;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.detail-image5 {
  order: 9;
  flex: 1 70%;
  max-width: 50%;
  /* max-height: 80%; */
  margin: 0 auto;
  margin-right: 40px;
  /* border: 1px solid red; */
  /* padding: 1rem; */
}
/* footer */
.footer {
  flex: 3 90%;
  order: 15;
  width: 100%;
  height: 5vh;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 2rem;
  border-top: 1px solid #000;
  /* box-shadow: 0px 0px 5px 0px rgba(51,51,51,0.4); */
}

.footer a {
  display: block;
  margin: 10 auto;
  width: 100%;
  box-sizing: border-box;
/* background-color: white; */
  font-family: 'Libre Franklin', sans-serif;
  font-size: 1.4rem;
  text-align: center;
  color: #000;
}

.footer a:hover {
  color: #ff9900;
}

.footer h1 {
  font-size: 1rem;
}

.footer.rioport {
}

.post {
  width: 25%;
  min-width: 300px;
  max-width: 450px;
  height: 25%;
  min-height: 270px;
  max-height: 400px;
  text-align: center;
  background-color: #fff;
  border-bottom: 6px solid #565656;
  outline: none;
  margin: 15px 15px;
  padding: 5px;
  /* box-shadow: 0px 0px 5px 0px rgba(51,51,51,0.4); */
}
.post:hover{
  border-bottom: 6px solid #948092;

}

.port-header {
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 400;
  color: #565656;
  font-size: .8rem;
  align-self: flex-start;
  position: absolute;
  margin-top: .6rem;
  letter-spacing: .3em;
}

.project-image {
  box-sizing: border-box;
  width: 100%;
  /* min-width: 280px;
  min-height: 200px; */
  /* background: #e1d9e0; */
  /* background: #565656; */
  text-align: center;
  /* border: 1px solid #565656; */
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.preview {
  max-height: 100%;
  min-height: 167px;
  width: 100%;
  max-width: 266px;
  display: block;
  /* border: 1px solid #000; */
}

.preview2 {
  max-height: 170px;
  display: block;
}

.slide-info {
  text-align: left;
  /* background-color: #e1d9e0; */
  margin: 0 auto;
  width: 100%;
  height: 25%;
}

.slide-header {
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 400;
  margin-top: 1.5rem;
  /* margin-left: 5px; */
  /* margin-left: .3rem; */
  font-size: 1.4rem;
  /* border-bottom: 1px solid black; */
  color: #565656;
}

.slide-summary {
  font-family: 'ibm-plex-mono', sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 1rem;
  margin-top: 5px;
  /* margin-left: 5px; */
  color: #565656;
}

/* --------------arrows----------------- */

.prev {
  width: 24px;
  height: 24px;
  background: url("../images/left-black.svg") no-repeat;
  background-size: 20px;
  background-position: right center;
  position: relative;
  /* top: -40%;
  left: 5%; */
  outline: none;
  /* border: 1px solid green; */
}

.prev:hover {
  background-size: 24px;
  top: -40%;
  left: 5%;
}

.next {
  width: 24px;
  height: 24px;
  background: url("../images/right-black.svg") no-repeat;
  background-size: 20px;
  background-position: left center;
  position: relative;
  /* top: -40%;
  right: 5%; */
  /* border: 1px solid green; */
}

.next:hover {
  background-size: 24px;
  top: -40%;
  right: 5%;
}


/* ------------media quaries for slider nav breakpoints ------------------------------------- */



@media screen and (max-width: 1300px) {
  .post {
    width: 40%;
    height: 15%;
    margin: 10px 10px;
  }
}


/* media quary for detail slide */

/* @media screen and (max-width: 925px) {
  .detail {
    align-content: center;
  }

  .summary {
    margin-top: 16px;
    margin-bottom: 1vh;
    order: 0;
    flex: 3 90%;
    padding: 2rem;
  }

  .sub-title {
    margin-bottom: 1rem;
  }

  .summary-text {
    font-size: 1rem;
  }

  .summary #summary-header {
    font-size: 1rem;
  }

  .year {
    font-size: 1rem;
  }

  .summary #detail-header {
    font-size: 1.2rem;
  }

  .detail-image {
    order: 1;
    flex: 1 100%;
    justify-content: flex-end;
    align-content: center;
    margin-bottom: 0;
    padding: 0;
  }

  .frame {
    margin: 0 auto;
    width: 80%;
  }

  .detail-image2 {
    order: 2;
    flex: 1 100%;
    align-items: flex-start;
    margin-bottom: 0;
    padding: 0;
  }

  .detail-image4 {
    order: 8;
    flex: 1 40%;
    max-width: 30%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }

  .detail-image5 {
    order: 9;
    flex: 1 80%;
    max-width: 70%;
  }

  .project-details {
    min-height: 80%;
    width: 100%;
  }

  .summary2 {
    margin-top: 1vh;
    margin-bottom: 1vh;
    order: 2;
    flex: 2 45%;
    padding: 2rem;
  }

  .summary-text {
    margin-top: 1rem;
  }

  .det-prev {
    width: 100%;
    margin: 0 auto;
  }

  .det-prev2 {
    max-width: 40%;
    width: 60%;
    margin: 0 auto;
  }

  .dot {
    width: 10px;
    height: 10px;
  }

  .footer {
    flex: 2 100%;
    order: 10;
  }

  .footer a {
    font-size: 1rem;
  }
}

@media screen and (max-width: 750px) {
  .post {
    width: 60%;
    height: 25%;
    margin: 10px 10px;
  }

  .frame {
    margin: 0 auto;
    width: 90%;
  }
}

@media screen and (max-width: 550px) {
  .post {
    width: 40%;
    height: 15%;
    min-width: 200px;
    max-width: 450px;
    min-height: 75px;
    max-height: 400px;
    /* border: 1px solid #000; */
    /* outline: none;
    margin: 10px 10px;
    padding: 5px;
  }

  .preview {
    max-height: 100%;
    min-height: 100px;
    width: 100%;
    max-width: 266px;
    display: block;
    /* border: 1px solid #fff; */
  /* }

  .preview2 {
    max-height: 100px;
  }

  .slide-header {
    margin-top: 1rem;
    font-size: 1rem;
  }

  .slide-summary {
    font-size: .7rem;
    margin-top: 3px;
  }
} */
