
  <%- include ("../partials/header.ejs") %>


  <%- include ("../partials/nav.ejs") %>
<main>
  <!-- <div class="code-bg rellax" data-rellax-speed="-5"></div> -->
<a name="top"></a>
    <div class="project-details">
     <a name="pop"></a>
      <div class="detail" id="color1">
        <div class="page-header" id="color2"><a name="top"></a>
          <h4 id="section-title"><a href="/projects">< back</a></h4>
        </div>
         <div class="summary">
           <p id="detail-header">Development / Design</p>
           <span class="sub-title"><p id="summary-header">pop!</p><p class="year">2019</p></span>
           <p class="summary-text"><b>pop! </b>is an art site for screen printing. This was my final project in the Front-End Web Developer program I recently completed. It is a concept site for now. I included it here because it gives me a chance to talk about my UI and Graphic Design skills. Stay tuned because I intend to bring it to reality.
           </p>
         </div>
         <div class="detail-image">
          <div class="frame">
          <hr class="dots" />
          <img src="../images/800x600_2019-assets/pop-desktop.jpg" class="det-prev"/>
         </div>
       </div>
         <div class="summary2">
           <p class="summary-text">I started with some research. I looked at similar sites and brainstormed on features and what exactly the site was going to do. I sketched out the site UI based on how I wanted it to work on mobile and then desktop. And created a UI prototype with wireframes.
           </p>
           <p class="summary-text">I used a combination of flexBox and grid to achieve different mobile, tablet, and desktop views. I made everything somewhat flexible and then added breakpoints using media queries to control the design as the view width increases. <a href="pop/index.html" alt="see pop!">See it in action.</a>
           </p>

         </div>
         <div class="detail-image2">
          <img src="../images/800x600_2019-assets/pop_phone.png" class="det-prev2"/>
         </div>
         <div class="footer"  id="color2">
            <a href="/projects" alt="Back To Projects">< back</a>
            <a href="#top" alt="top of page">< top ></a>
            <a href="proj-2.html" alt="Next Project">next ></a>
         </div>
       </div>

<a name="templates"></a>
  <div class="detail" id="color1">
      <div class="page-header" id="color2">
        <h4 id="section-title"><a href="/projects">< back</a></h4>
       </div>
       <div class="summary">
         <p id="detail-header">Development / Design</p></a>
         <span class="sub-title"><p id="summary-header">Responsive Blog Templates</p><p class="year">2019</p></span>
         <p class="summary-text">Monument and Relaxr are blog templates. This is an example of developing a site to exact design specifications. I was given this detailed design at mobile and desktop. See how exact I got it here.
         </p>
       </div>
       <div class="detail-image">
        <img src="images/monument-big.png" class="det-prev"/>
       </div>
       <div class="summary2">
         <p class="summary-text">I used flexBox to make it shrink and grow appropriately before the design break points. I used media queries to change the CSS at the breakpoints.
         </p>
       </div>
       <div class="detail-image2">
          <div class="frame">
          <hr class="dots" />
        <img src="../images/800x600_2019-assets/relaxr-desktop.jpg" class="det-prev"/>
      </div>
       </div>
       <div class="footer"  id="color2">
          <a href="/projects" alt="Back To Projects">< back</a>
          <a href="#top" alt="top of page">< top ></a>
          <a href="proj-3.html" alt="Next Project">next ></a>
       </div>

   </div>


   <a name="rioport"></a>
     <div class="detail" id="color1">
       <div class="page-header" id="color2">
         <h4 id="section-title"><a href="/projects">< back</a></h4>
       </div>
       <div class="summary">
         <p id="detail-header">Front End Development</p>
         <span class="sub-title"><p id="summary-header">RioPort</p><p class="year">2002</p></span>
         <p class="summary-text">RioPorts E-commerce site was way before it’s time allowing users to sample and purchase music securely in mp3 format. It was a precursor to iTunes. The Rio was one of the first mp3 players and our core product was rebranded for our many corporate clients. Interesting  history <a href="https://en.wikipedia.org/wiki/RioPort" alt="RioPort article">here</a> and <a href="https://variety.com/2001/digital/news/mtvi-rioport-big-5-pact-for-downloads-1117796560/" alt="another RioPort article">here.</a>
         </p>
      </div>
       <div class="detail-image">
          <div class="frame">
          <hr class="dots" />
        <img src="../images/800x600_2019-assets/rioport1.jpg" class="det-prev"/>
       </div>
     </div>
       <div class="summary2">
         <p class="summary-text">As a Web Developer at RioPort I worked closely with the design team to take their designs from Photoshop to a functioning web based music download application. The site had shopping cart, account management, download management and it interfaced with the users mp3 player client side.
         Code wise, I used includes and XML to display items from our product database. I coded HTML templates for our CMS, wrote JavaScript to add interactivity to UI features. I was solely responsible for implementing and maintaining CSS on our core product and then on our client sites.
         </p>
         <p class="summary-text">I worked with designers from companies like MTV, VH1, and Nike to wrap their designs around our application.
         </p>
       </div>
       <div class="detail-image2">
        <div class="frame">
          <hr class="dots" />
          <img src="../images/800x600_2019-assets/mtv2.jpg" class="det-prev"/>
        </div>
      </div>
      <div class="footer"  id="color2">
         <a href="/projects" alt="Back To Projects">< back</a>
         <a href="#top" alt="top of page">< top ></a>
         <a href="proj-4.html" alt="Next Project">next ></a>
      </div>
     </div>

<a name="js"></a>
<div class="detail" id="color1">

  <div class="page-header" id="color2">
    <h4 id="section-title"><a href="/projects">< back</a></h4>
  </div>
   <div class="summary">
     <span id="detail-header">Front End Development</span>
     <span class="sub-title"><p id="summary-header">JavaScript/jQuery</p><p class="year">2019</p></span>
     <p class="summary-text">Most of my professional experience writing JavaScript has been for pretty basic uses like checking user input or UI interactivity. In the past year I have taken it to the next level with courses online and at the Front-End Web Developer program I recently completed.
     </p>
   </div>
   <div class="detail-image">
    <img src="images/js-big.png" class="det-prev" />
   </div>
   <div class="footer"  id="color2">
      <a href="/projects" alt="Back To Projects">< back</a>
      <a href="#top" alt="top of page">< top ></a>
      <a href="proj-5.html" alt="Next Project">next ></a>
   </div>

   </div>


<a name="port"></a>
<div class="detail" id="color1">

  <div class="page-header" id="color2">
    <h4 id="section-title"><a href="/projects">< back</a></h4>
  </div>
   <div class="summary">
     <p id="detail-header">Development</p>
     <span class="sub-title"><p id="summary-header">This Portfolio</p><p class="year">2019</p></span>
     <p class="summary-text">I couldn’t resist adding my portfolio to my portfolio. It is an excellent example of my UI/Graphic Design and Development skills. It is completely responsive and adjusts to any screen width. It is also cross browser compatible. I added jQuery and Slick Slider for the project slider and a form that uses php to send me a message.
     </p>
   </div>
   <div class="detail-image">
    <img src="images/portfolio-big.png" class="det-prev"/>
   </div>
   <div class="summary2">
     <p class="summary-text">I started by researching fellow Web Developers portfolio sites. I clearly defined what I wanted to say and how I wanted to present my information. I then made a wireframe prototype. I decided on the look and style. I selected fonts, colors and graphics. I made the graphics in Illustrator and Photoshop.
     </p>
   </div>
   <div class="detail-image2">
    <img src="images/port-mobile.png" class="det-prev2"/>
   </div>
   <div class="footer"  id="color2">
      <a href="/projects" alt="Back To Projects">< back</a>
      <a href="#top" alt="top of page">< top ></a>
      <a href="proj-6.html" alt="Next Project">next ></a>
   </div>

</div>
<a name="homepages"></a>
<div class="detail" id="color1">

  <div class="page-header" id="color2">
    <h4 id="section-title"><a href="/projects">< back</a></h4>
  </div>
   <div class="summary">
     <p id="detail-header">Front End Development</p>
     <span class="sub-title"><p id="summary-header">Homepages</p><p class="year">2003</p></span>
     <p class="summary-text">HomePages™ was a startup that provided end users with templates and an interface to make their own homepages online. It was a precursor to sites like Wix or Wordpress. As a Web Developer I was responsible for coding new templates, developing new features and product testing and quality control. At the time this site was very cutting edge and all of the technology was coded from scratch by the amazing team of Developers and Designers I worked with. I was personally responsible for users being able to add Flash to their pages and I contributed to adding a calendar and many other “widgets”.  I coded many of the templates users were provided with.
     </p>
   </div>
   <div class="detail-image">
    <div class="frame">
      <hr class="dots" />
      <img src="../images/800x600_2019-assets/hollywood.jpg" class="det-prev"/>
    </div>
  </div>
   <div class="summary2">
     <p class="summary-text">Homepages™ was then marketed to corporate clients. I wrapped new graphics around our core product and coded custom templates specific to the client. Some of the more memorable ones were Petco Pet Pages. hollywood.com and Gurl Pages.
</p>
     <p class="summary-text">I often worked with the Design team to cut and optimize graphics. I made clickable prototypes for presenting to our corporate clients. Very fast paced, deadline oriented, environment.
</p>
  </div>
  <div class="detail-image2">
      <div class="frame">
        <hr class="dots" />
        <img src="../images/800x600_2019-assets/gurlpages.jpg" class="det-prev"/>
      </div>
    </div>
    <div class="footer"  id="color2">
       <a href="/projects" alt="Back To Projects">< back</a>
       <a href="#top" alt="top of page">< top ></a>
       <a href="proj-7.html" alt="Next Project">next ></a>
    </div>

</div>

<div class="detail" id="color1">
  <a name="tutorials"></a>
  <div class="page-header" id="color2">
    <h4 id="section-title"><a href="/projects">< back</a></h4>
  </div>

   <div class="summary">
     <p id="detail-header">Development/Design</p>
     <span class="sub-title"><p id="summary-header">Tutorials</p><p class="year">1998</p></span>
     <p class="summary-text">I started my Web Developer career making technical support walk throughs for Earthlink Network. I was It  started as a way for me to walk people through setting up software that I didn’t have access to while on calls. I was a Mac tech and our support environment was exclusively windows. My tutorials helped many of the techs I worked with walking people through software they had never seen. It wasn’t long before I was asked to create them for the public site.
</p>
 </div>
   <div class="detail-image">
   <div class="frame">
    <hr class="dots" />
    <img src="../images/800x600_2019-assets/earthlink1.jpg" class="det-prev"/>
   </div>
 </div>
   <div class="summary2">
     <p class="summary-text">Over the years I’ve designed and coded many marketing sites for a variety of individuals and organizations. Photoshop is my goto for image optimization and alteration. I have advanced vector graphic skills I use to make custom icons and svgs. I also use Photoshop and Illustrator in my art and in hobbies outside of Web Design including CNC laser cutting and silk screen.
     </p>
   </div>
   <div class="detail-image2">
    <div class="frame">
      <hr class="dots" />
      <img src="../images/800x600_2019-assets/earthlink2.jpg" class="det-prev"/>
   </div>
 </div>
 <div class="footer"  id="color2">
    <a href="/projects" alt="Back To Projects">< back</a>
    <a href="#top" alt="top of page">< top ></a>
    <a href="proj-8.html" alt="Next Project">next ></a>
 </div>
</div>




<div class="detail" id="color1">
  <a name="design"></a>
  <div class="page-header" id="color2">
    <h4 id="section-title"><a href="/projects">< back</a></h4>
  </div>

   <div class="summary">
     <p id="detail-header">Design</p>
     <span class="sub-title"><p id="summary-header">Creative Development</p><p class="year">2005-2019</p></span>
     <p class="summary-text">I started my Web Developer career making technical support walk throughs for Earthlink Network. I was It  started as a way for me to walk people through setting up software that I didn’t have access to while on calls. I was a Mac tech and our support environment was exclusively windows. My tutorials helped many of the techs I worked with walking people through software they had never seen. It wasn’t long before I was asked to create them for the public site.
</p>
 </div>
   <div class="detail-image">
   <div class="frame">
    <hr class="dots" />
    <img src="../images/800x600_2019-assets/garden-club.jpg" class="det-prev"/>
   </div>
 </div>
   <div class="summary2">
     <p class="summary-text">Over the years I’ve designed and coded many marketing sites for a variety of individuals and organizations. Photoshop is my goto for image optimization and alteration. I have advanced vector graphic skills I use to make custom icons and svgs. I also use Photoshop and Illustrator in my art and in hobbies outside of Web Design including CNC laser cutting and silk screen.
     </p>
   </div>
   <div class="detail-image2">
    <div class="frame">
      <hr class="dots" />
      <img src="../images/800x600_2019-assets/inndicator.jpg" class="det-prev"/>
   </div>
 </div>
 <div class="footer"  id="color2">
    <a href="/projects" alt="Back To Projects">< back</a>
    <a href="#top" alt="top of page">< top ></a>
    <a href="proj-1.html" alt="Next Project">next ></a>
 </div>
</div>



  </div>
</main>

<%- include ("../partials/scripts.ejs") %>
