.sidebar .categories {
  margin-top: 4.5rem;
  /* border-bottom: 4px solid black */
}

.sidebar button.collapse-categories {
  height: 35px;
  border: 0px;
  color: transparent;
  background: transparent;
  font-size: 2rem;
}
.sidebar button.collapse-categories visible {
  color: #000;
}
.sidebar button.collapse-categories:hover {
  color: black;
  background-color: #ffe8c4;
}

.sidebar button.collapse-categories div {
  border: none;
  line-height: 0;
  padding: 1px 3px;
  font-size: 2rem;
}
/*
.sidebar button.collapse-categories svg rect {

} */
.sidebar .title {
    display: flex;
    width: 100%;
    text-align: left;
    flex-direction: row;
    align-content: flex-end;
    align-items: flex-end;
}
.sidebar button.category {
  height: 5rem;
  display: grid;
  grid-template-columns: 1.5rem auto;
  align-items: center;
  text-align: left;
  width: 100%;
  background: #ffffff;
  color: #000000;
font-family: 'Catamaran', sans-serif;
  font-style: italic;
  font-weight: 700;
  font-size: 1.8rem;
  cursor: pointer;
  position: sticky;
  top: 4.6rem;
  z-index: 0;
}
.sidebar a {
  display: grid;
  grid-template-columns: 2rem auto;
  align-items: center;
  background: #ffffff;
  font-size: 1.2rem;
  min-width: 100%;
  line-height: 1.2;
  color: black;
  padding: 0.6rem .6rem;
  font-family: 'Sarabun', sans-serif;
  font-style: italic;
  font-weight: 800;
  font-size: 2rem;
  border-left: 3px solid transparent;
}
.border-bottom {
  border-top: 0px;
  border-right: 0px;
  border-bottom: 2px solid #000;
}


.sidebar button.category:hover {
  background: #ffe8c4;
  color: black;
}

.sidebar button.category:focus-visible {
  outline: none;
  background: #ffe8c4;
  border-bottom: none;
  color: #000;
}

.sidebar button.category:focus {
  background: #ffe8c4;
  outline: none;
  color: black;
}

.sidebar button.category svg {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.sidebar button.category svg path {
  stroke: black;
  fill: #000000;
}

.sidebar button.category:focus svg path {
  stroke: black;
}

.sidebar button.category:focus-visible svg path {
  stroke: rgb(0, 0, 0);
}
.stroke-fill{
  stroke: #00000000;

}

.sidebar nav {
  width: 100%;
    color: #000000;
}

.sidebar nav.collapsed {
  display: none;
}



/* .sidebar a svg path {
  filter: var(--icon-filter);
} */
aside.sidebar .open{
  background: hsl(0, 0%, 100%);

}
aside.sidebar .closed{

}
.sidebar a:hover {
  background: #ffe8c4;
  color: black;
}

.sidebar a.active,
.sidebar a:focus {
  outline: none;
  border-left: 3px solid #ff8c00;
  color: #000;
  background:#ffe8c4;
}
.sidebar a.active div,
.sidebar a:focus div{
  color: #000 !important;

}
.sidebar a.active svg path {
  fill: #000000;
}
.sidebar a.notactive {
  color: black;
}
span.project__text {
font-family: 'Libre Franklin', sans-serif;
font-weight: 400;
font-variant: normal;
  min-width: 20rem;
  line-height: 1rem;
}
.sidebar div.file-div {
  display: flex;
  color: #000000;
  flex-direction: row;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.2rem;
  /* margin-top: .2rem; */
}
.sidebar div.file-div:hover, .sidebar div.file-div:focus {
  color: #000000;
}
.sidebar project__text:focus, .sidebar project__text:active {
  outline: none;
  color: black;
}
