sidebar .categories {
  margin-top: 35px;
}

.sidebar button.collapse-categories {
  height: 35px;
  padding: 0 0.75rem;
}

.sidebar button.collapse-categories:hover {
  background: var(--dark-opacity);
}

.sidebar button.collapse-categories div {
  border: 1px solid var(--font-color);
  line-height: 0;
  padding: 1px 3px;
}

.sidebar button.collapse-categories svg rect {
  fill: var(--font-color);
}

.sidebar button.category {
  display: grid;
  grid-template-columns: 1.5rem auto;
  align-items: center;
  text-align: left;
  width: 100%;
  background: var(--category-background-color);
  border: none;
  margin-bottom: 1px;
  padding: 0.75rem 1rem;
  color: var(--bright-font-color);
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  position: sticky;
  top: 35px;
  z-index: 7;
}

.sidebar button.category:hover {
  background: var(--category-background-color-hover);
  color: var(--bright-font-color);
}

.sidebar button.category:focus-visible {
  outline: none;
  background: var(--primary);
  border-bottom: none;
  color: var(--reverse) !important;
}

.sidebar button.category:focus {
  outline: none;
  color: var(--bright-font-color);
}

.sidebar button.category svg {
  margin-right: 0.5rem;
}

.sidebar button.category svg path {
  stroke: var(--bright-font-color);
}

.sidebar button.category:focus svg path {
  stroke: var(--bright-font-color);
}

.sidebar button.category:focus-visible svg path {
  stroke: var(--reverse);
}

.sidebar nav {
  width: 320px;
}

.sidebar nav.collapsed {
  display: none;
}

.sidebar a {
  display: grid;
  grid-template-columns: 2rem auto;
  align-items: center;
  font-size: 0.85rem;
  line-height: 1.2;
  color: var(--medium-font-color);
  padding: 0.4rem 1rem;
  font-family: var(--heading-font-family);
  border-left: 3px solid transparent;
}

.sidebar a svg path {
  filter: var(--icon-filter);
}

.sidebar a:hover {
  background: var(--sidebar-color-hover);
  color: var(--bright-font-color);
}

.sidebar a.active,
.sidebar a:focus {
  outline: none;
  border-left: 3px solid var(--primary);
  color: var(--bright-font-color);
  background: var(--sidebar-color-focus);
}

.sidebar a.active svg path {
  fill: var(--primary);
}
