.light-lime {
  background-color: #f9ffc4;
}
.sidebar svg{
  transition: .3s ease-in-out .3s;
}
.peach {
  background-color: #ffe3ba;
}
.sidebar .categories {
  margin-top: 35px;
  transition: .5s ease-in-out;
}

.sidebar button.collapse-categories {
  height: 35px;
  padding: 0 0.75rem;
  transition: .5s ease-in-out;
}

.sidebar button.collapse-categories:hover {
  background: #ffe9c7;
}

.sidebar button.collapse-categories div {
  border: none;
  line-height: 0;
  padding: 1px 3px;
  transition: .5s ease-in-out;
}

.sidebar button.collapse-categories svg rect {
  fill: rgb(0, 0, 0);
}

.sidebar button.category {
  background-color: #ffefd6;
  min-width: 100%;
  height: 4rem;
  align-items: center;
  text-align: left;
  width: 100%;
  border: none;
  margin-bottom: 1px;
  color: #00000079;
  font-size: 1.8rem;
  font-weight: 600;
  cursor: pointer;
  position: sticky;
  top: 35px;
  z-index: 7;
    transition: .5s ease-in-out;
}

.sidebar button.category:hover {
  background: #ffc874;
  color:  #000000;
}

.sidebar button.category:focus-visible {
  outline: none;
  border-bottom: none;
  color: black !important;
}

.sidebar button.category:focus {
  outline: none;
  color: #000000;
}

.sidebar button.category svg {
  margin-right: .5rem;
}

.sidebar button.category svg path {
  fill: #00000079;
}
.sidebar button.category:hover svg path {
  fill: #000000;
}
.sidebar button.category:focus svg path {
  fill: #000000;

}

.sidebar button.category:focus-visible svg path {
  fill: rgb(0, 0, 0);
}



.sidebar nav.collapsed {
  display: none;
}
.sidebar a {
  color: #00000079;
  font-weight: 600;
  align-items: center;
  font-family: 'Libre Franklin', sans-serif;
}


.sidebar a:hover {
  background: #ffd89e;
  color: #000000;
}

.sidebar a.active,
.sidebar a:focus {
  outline: none;
  border: 3px solid black;
  color: black;
}

.sidebar a.active svg path {
  fill: black;
}
.sidebar div.file-div {
  display: flex;
  color: #00000079;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: nowrap;
  min-width: 100%;
  height: 100%;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.2rem;
  margin-top: .4rem;
  margin-left: .3rem;
}
.sidebar div.file-div:hover {
  color: #000000;
}

.sidebar span{
  margin-right: .2rem;
}
