* {
  box-sizing: border-box;
  font-family: "Press Start 2P", cursive;
}

html {
  background-color: #222;
  color: white;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* your CSS below! */

td {
  height: 50px;
  width: 50px;
  background-color: lightgray;
}
.black{
  background-color: black;
}
.white{
  background-color: white;
}
.red{
  background-color: red;
}
.blue{
  background-color: blue;
}
.green{
  background-color: forestgreen;
}
.indigo{
  background-color: indigo;
}
.yellow{
  background-color: yellow;
}
.orange{
  background-color: orange;
}
.pink{
  background-color: pink;
}
.bright-pink{
  background-color: rgb(255, 0, 174);
}
.brown{
  background-color: rgba(106, 0, 0, 0.825);
}
