.portfolio {
  background-image: url(../../images/preview/portfolio-big.png);
}
.robot{
  background-image: url(../../images/preview/js-big.png);
}
.coffee{
  background-image: url(../../images/preview/js-big.png);
}
.artgallery{
  background-image: url(../../images/preview/monument-big.png);
}
.pixelate{
  background-image: url(../../images/preview/pixel-big.png);
}
.relaxr{
  background-image: url(../../images/preview/relaxr-big.png);
}
.popArt{
  background-image: url(../../images/preview/pop-big.png);
}
.prevImg{
  width: 600px;
  height: 377px;
  border: 1px solid red;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
